@model IEnumerable<WAD_T2104E_DuongVT.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@ViewBag.Id
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Ajax.BeginForm("Search", "Products", new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "partialView"
}))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Name: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("txtName")
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Release Date: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("txtDate", null, htmlAttributes: new { @type = "date" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Category: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SelectedCategory", "All")
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
        <div>
            @ViewBag.Id
        </div>
    </div>
}
<div id="partialView">
    @Html.Partial("_ProductPartialView")
</div>